* {
  margin: 0;
  padding: 0;
  border: 0;
}

.div {
  display: inline-block;
  width: 49.7%;
}
.div2 {
  width: 75%;
}
#header {
  background-color: #0a1633;
  width: 100%;
  align-items: center;
  justify-content: center;
}

Body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: #fff;
}
.buttonP {
  background-color: #0a1633;
  width: 10%;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 20px;
}
.buttonS {
  background-color: #00d9d0;
  width: 17%;
  color: #0a1633;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 20px;
}
#btnn {
  display: flex;
  justify-content: center;
}

form {
  border: 4rem solid #fff;
}
input[type='text'],
input[type='password'],
input[type='tel'] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.7;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin: 10px 5px;
}

.container {
  padding: 2rem 15rem;
  background-color: #ededed;
}
